/* .centrado{text-align: center; border: 1px dotted #000; padding: 8px;}
div{width: 50%; border:1px dotted #f00; padding: 8px; margin:auto}
center{margin:16px 0;} */

.cuerpos{
  height: 100%;
  background-image: url("/imagenes/fondo xbox.jpeg");
  background-size: 10rem;
  
}

.cuerpo2{
  height:100%;
  background-image:url("/imagenes/fondo de play.jpeg");
  background-size: 10rem;
}

.cuerpo3{
  height:100%;
  background-image: url("/imagenes/fondo de pc.jpeg");
  background-size: 10rem;
}

.cuerpo4{
  height: 100%;
  background-image: url("/imagenes/fonod tecnologia.jpeg");
  background-size: 10rem;
}

.cabecera{
    color: white;
  text-align: center;
  border: 1px dotted #000; 
  padding: 8px;
  font-size: 100px;
  background-color: rgb(31,39,48);;
  }

.todo{
    background-color: rgb(31,39,48);  
    text-align: center;
  }

  #todos      {
    margin: 20px;
    padding: 20px;

    }

.lista{
  float: left;
  margin-right: 10px;
  padding: 0 4px;
  color:#FFF;
  background-color: rgb(31,39,48);
}


  .externas{
      font-style: italic;
      
  }

  nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }

    .halo {
       width: 480px ; height: 480px;
    }

    .forza5{
      width: 480px ; height: 480px;
    }

    .forzamotor{
      width: 480px ; height: 480px;
    }

    .minutes{
      width: 480px ; height: 480px;
    }

    .divcentrado{
      width: 1024px;
    position:absolute;
    left:50%; 
    margin-left:-600px;
    background-color: white;
    position: absolute;
    
    }

    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    
    ul {
      list-style: none;
    }
    
    a {
      text-decoration: none;
      color: black;
    }
    
    body {
      font: normal 16px/1.5 Helvetica, sans-serif;
      background: linear-gradient(to right, #6814cd 0%, #3163f3 100%);
    }
    
    .tabs-container {
      max-width: 1000px;
      margin: 50px auto;
      padding: 25px;
    }
     
    .tabs {
      display: flex;
    }
     
    .tabs li:not(:last-child) {
      margin-right: 7px;
    }
     
    .tabs li a {
      display: block;
      position: relative;
      top: 4px;
      padding: 10px 25px;
      border-radius: 2px 2px 0 0;
      background: white;
      opacity: 0.7;
      transition: all 0.1s ease-in-out;
    }
     
    .tabs li.active a,
    .tabs li a:hover {
      opacity: 1;
      top: 0;
    }
     
    .tabs-content {
      position: relative;
      z-index: 2;
      padding: 25px;
      border-radius: 0 4px 4px 4px;
      background: gainsboro;
    }
     
    .tabs-panel {
      display: none;
    }
     
    .tabs-panel.active {
      display: block;
    }
    
    

    @media screen and (min-width: 1024px){
      img{
             width: 720px ; }

      }

      @media screen and (max-width: 767px) {
        img{
               width:7px; }
        }
    


        
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: #ccc;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}